@font-face {
  font-family: "Monospace";
  src: url(../../fonts/Monospace.ttf);
}

.heading {
  display: flex;
  width: 100%;
  position: relative;
  margin: 2rem 1rem;
  font-size: 2.4rem;
  color: #51aeff;
  font-weight: 500;
}

.container {
  width: 90%;
  margin-inline: auto;
  display: flex;
  overflow: hidden;
  height: 93vh;
  padding-top: 1.6rem;
  overflow: hidden;
}

.iframeContainer {
  overflow: hidden;
}

.about {
  width: 60%;
  background: url(/backgrounds/about.png) center no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-right: 5rem;
  padding-left: 2rem;
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.videos {
  display: flex;
  flex-direction: column;
  width: 35%;
  background: url("../../assets/aboutLeft.png") center no-repeat;
  background-size: 100% 100%;
  padding: 2rem;
  padding-inline: 0.5rem;
  margin-right: 2rem;
  overflow-y: auto;
}

.videos ::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
  background-color: #83c4fd;
}

.videos ::-webkit-scrollbar,
.videos ::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 13px;
  border: 10px solid transparent;
}
.videos {
  scrollbar-color: #83c4fd;
  scrollbar-width: thin;
}


.text {
  font-family: "Monospace";
  text-align: left;
  font-size: 1.2rem;
  margin-left: 2rem;
  color: #bfdfff;
  line-height: 1.7rem;
  overflow-y: auto;
  padding-right: 2rem;
}

.video {
  background: url("../../assets/aboutCard.png") center no-repeat;
  overflow: hidden;
  width: 75%;
  margin-inline: 2.4rem;
  background-size: 100% 100%;
  padding: 15px 0.4rem;
}

.video * {
  border: none !important;
}

.videoContainer {
  margin-bottom: 3.4rem;
}

.videoContainer:first-child {
  margin-top: 2rem;
}

.videoDesc {
  text-align: left;
  font-size: 1.2rem;
  padding-left: 3.4rem;
  margin-top: 1.4rem;
  color: #bfdfff;
  font-weight: 100;
}

.iframeContainer > iframe {
  width: 100%;
}

.text::-webkit-scrollbar,
.text::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 13px;
  border: 10px solid transparent;
}

.text::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
  background-color: #83c4fd;
}
.text{
  scrollbar-color: #83c4fd;
  scrollbar-width: thin;
}

@media screen and (max-width: 450px) {
  .heading {
    font-size: 1.4rem;
    flex-direction: column;
  }
  .heading > span {
    margin-top: -2rem;
  }
  .topAsset {
    display: none !important;
  }

  .video > iframe {
    width: 100% !important;
    height: 10rem !important;
  }

  .text {
    margin-left: 0;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column-reverse;
    height: auto;
    width: 95%;
  }
  .topAsset{
    display: none !important;
  }

  .about {
    background: url("../../assets/aboutMobile.png") center no-repeat;
    background-size: 100% 100%;
    width: 95%;
    padding-right: 0;
    padding-left: 1rem;
    padding-bottom: 7rem;
    height: 100vh;
    overflow-y: scroll;
    overflow-x:hidden;
  }

  .videos {
    width: 90%;
    margin-top: 3rem;
    margin-left: 1rem;
  }

  .videoDesc {
    padding-left: 2.4rem;
  }

  .heading {
    margin-left: 0rem;
    text-align: center;
    font-size: 1.7rem;
    margin-top: 5rem;
  }

  .text {
    padding-left: 2.5rem;
    font-size: 1rem;
    padding-right: 3rem;
    line-height: 1.5rem;
  }
  .video {
    margin-left: 0.6rem;
    margin-inline: none;
    width: 80%;
  }

  .about {
    align-items: center;
  }

  .video > iframe {
    width: 100%;
    height: 20rem;
  }
}

/* ASSET CSS */
.topAsset {
  display: flex;
  gap: 5px;
  right: 0;
  top: 0;
  position: absolute;
  height: 20px;
}

.topAsset img:nth-child(3n + 2) {
  width: 24px;
  height: 24px;
  animation: rotate 5s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bottomAsset {
  display: flex;
  align-self: flex-end;
  transform: translateY(1rem);
}

@media screen and (max-width: 900px) {
  .bottomAsset {
    scale: 0.7;
  }
}
