.armageddonWrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.armageddon {
  width: 98vw;
  height: 97vh;
  background: url(/backgrounds/background.png) center no-repeat;
  background-size: 100% 100%;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}

.back {
  width: 8vw;
}

.heading {
  font-weight: lighter;
  color: rgba(153, 204, 255, 0.9);
  font-size: 2.8rem;
  margin: 0;
  /* margin-top: 3rem; */
}

.carousel {
  width: 80%;
  margin: auto;
  margin-top: 4%;
}

.slick-slider {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .carousel {
    width: 90vw;
  }
}

@media screen and (max-width: 1000px) {
  .heading {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 800px) {
  .heading {
    font-size: 2rem;
  }

  .carousel {
    margin-top: 6%;
  }
}

@media screen and (max-width: 650px) {
  .heading {
    font-size: 1.6rem;
  }

  .carousel {
    margin-top: 10%;
  }
}

@media screen and (max-width: 500px) {
  /* .heading {
    margin-top: 5rem;
  } */

  .carousel {
    margin-top: 15%;
  }
}

@media screen and (max-width: 1300px) {
  .back {
    scale: 0.9;
  }
}

@media screen and (max-width: 1100px) {
  .back {
    scale: 0.8;
  }
}

@media screen and (max-width: 1000px) {
  .back {
    scale: 0.75;
  }
}

@media screen and (max-width: 850px) {
  .back {
    width: 12vw;
  }
}

@media screen and (max-width: 550px) {
  .back {
    display: none;
  }
}
