.backBtn {
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
  }
  
  .backBtn > svg {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
  }
  
  .cont {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    color: #b2dbff;
    font-size: 1.1rem;
  }
  
  .backText {
    margin-left: 3px;
  }
  
  .backBtnInside {
    opacity: 0.1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .backBtn:hover .backBtnInside {
    opacity: 0.4;
  }
  
  .backBtn:hover .arr {
    transform: translateX(-2px);
    transition: transform 0.3s ease-in-out;
  }
  
  @media screen and (min-width: 1500px) {
    .cont {
      font-size: 1.2rem;
      letter-spacing: 1px;
    }
  }
  
  @media screen and (max-width: 1100px) {
    .cont {
      width: 80%;
    }
  
    .backBtn > svg {
      transform: translate(-50%, -50%) scale(1.2);
    }
  }
  
  @media screen and (max-width: 1000px) {
    .cont {
      width: 85%;
    }
  
    .backBtn > svg {
      transform: translate(-50%, -50%) scale(1.3);
    }
  }
  
  @media screen and (max-width: 650px) {
    .cont {
      width: 90%;
    }
  
    .backBtn > svg {
      transform: translate(-50%, -50%) scale(1.4);
    }
  }
  
  @media screen and (max-width: 550px) {
    .cont {
      width: 110%;
    }
  
    .backBtn > svg {
      transform: translate(-50%, -50%) scale(1.5);
    }
  
    .backText {
      font-size: 0.9rem;
    }
  
    .arr {
      height: 10px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .backBtn > svg {
      transform: translate(-50%, -50%) scale(1.6);
    }
  }
  