.brainPopupCircle-cont,
.brainPopupCircle-cont * {
  background-color: transparent;
  overflow: visible !important;
}

.brainPopupCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  position: relative;
}

.brainPopupCircle::after {
  content: " ";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
