.brainLabel {
  width: min-content;
  display: flex;
  align-items: center;
  position: absolute;
  transform: translate(-38px, calc(-100% - 69px));
  animation: slidein 800ms ease;
}

.labelLine1 {
  transform-origin: 100% 50%;
  transform: rotate(-45deg);
}

.labelLine1,
.labelLine2 {
  min-width: 150px;
  height: 3px;
  background-color: #6ca2cf;
}

.labelBox-cont,
.labelBox {
  min-width: 200px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%
  );
  padding: 3px;
  background-color: #83c4fd;
}

.labelBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 24px;
  background-color: black;
}

.labelHeader {
  font-size: 1.2rem;
  color: #51aeff;
  margin-bottom: 10px;
}

.labelCont {
  font-family: "Monospace";
  text-align: left;
  width: max-content;
  font-size: 0.8rem;
  color: transparent;
}

.labelCont span {
  position: relative;
}

.state-1,
.state-2,
.state-3 {
  color: transparent;
}

.state-4 {
  color: white;
}

.state-1::after,
.state-2::after,
.state-3::after,
.state-4::after {
  content: "";
  position: absolute;
  color: white;
  background-color: white;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0.85rem;
  transform: translate(-50%, -50%);
}

.state-2::after {
  width: 1px;
}

.state-3::after {
  width: 100%;
}

.state-4::after {
  width: 0;
}

@keyframes slidein {
  0% {
    clip-path: polygon(0 0, 0 0, 0 200%, 0 200%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 200%, 0 200%);
  }
}
