.button {
  scale: 0.85;
  width: 10vw;
}

.btn {
  position: relative;
  background: none;
  border: none;
  cursor: url(/pointer.svg), pointer !important;
}

.btn svg {
  left: 0;
  top: 0;
  width: 100%;
}

.btn span {
  left: 45%;
  top: 45%;
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Monospace";
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  color: #b3dbff;
  opacity: 0.95;
}

.btn-inside {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.4;
}

.btn:hover .btn-inside {
  opacity: 0.8;
}

@media screen and (max-width: 1500px) {
  .button {
    width: 13vw;
  }
}

@media screen and (max-width: 1300px) {
  .button {
    width: 15vw;
  }
}

@media screen and (max-width: 1000px) {
  .button {
    width: 17vw;
  }
}

@media screen and (max-width: 900px) {
  .button {
    width: 19vw;
  }

  .btn span {
    font-size: 0.8rem;
  }
}

@media (max-width: 799px) {
  .button {
    position: absolute;
    right: 10%;
    bottom: 20%;
  }
}

@media screen and (max-width: 650px) {
  .button {
    width: 25vw;
  }
}

@media screen and (max-width: 550px) {
  .button {
    width: 30vw;
    scale: 0.95;
  }
}

@media screen and (max-width: 450px) {
  .button {
    width: 35vw;
    margin: 4rem 0 0 9rem;
  }
}

@media screen and (max-width: 300px) {
  .button {
    width: 60vw;
  }
}
