* {
    text-align: center;
}
.contactCard {
    background: url('../../assets/contact.png') center no-repeat;
    background-size: 100% 100%;
    width: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
}

.wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .6rem;
}

img {
    width: 100%;
}

.name {
    font-size: 1.1rem;
    font-weight: 900;
}

.dept {
    font-size: .9rem;
}

.icons {
    display: flex;
    gap: 1rem;
}

.icons > * {
    transform: scale(.8);
    transform-origin: 50% 50%;
}

.icons > *:hover {
    animation: shake .3s ease infinite;
}

@keyframes shake {
    0% {
        rotate: 0deg;
    }
    25% {
        rotate: 5deg;
    }
    50% {
        rotate: 0deg;
    }
    75% {
        rotate: -5deg;
    }
    100% {
        rotate: 0deg;
    }
}
