.contact {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  transition: transform 500ms ease;
}

:global(.close).contact,
:global(.closed).contact {
  transform: translateY(200%);
}

:global(.open).contact {
  transform: translateY(0);
}

.heading {
  text-align: center;
  margin: 2rem 0 1rem 0;
  font-size: 2.4rem;
  color: #51aeff;
  font-weight: 500;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
  justify-content: center;
  width: 95vw;
  margin: auto;
  margin-bottom: 1rem;
  font-family: "Monospace";
}

@media screen and (max-width: 1200px) {
  .cards {
    width: 100vw;
  }
}

@media screen and (max-width: 800px) {
  .heading {
    margin: 2rem 0 2rem 0;
    font-size: 1.8rem;
  }

  .cards {
    gap: 0 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .cards {
    gap: 0 0.8rem;
  }
}

@media screen and (max-width: 500px) {
  .heading {
    font-size: 1.4rem;
    margin: 1rem 0;
  }
}

@media screen and (max-width: 400px) {
  .cards {
    gap: 0 0.5rem;
    width: 100vw;
  }
}
