* {
  text-align: center;
}
.contactCard {
  background: url("../../assets/contact.png") center no-repeat;
  background-size: 100% 100%;
  width: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 2rem;
  padding-top: 1.5rem;
  scale: 0.9;
}

.wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

img {
  width: 100%;
}

.name {
  font-size: 1.1rem;
  font-weight: 900;
}

.dept {
  font-size: 0.9rem;
}

.icons {
  display: flex;
  gap: 1rem;
}

.icons > * {
  transform: scale(0.8);
  transform-origin: 50% 50%;
}

.icons > *:hover {
  animation: shake 0.3s ease infinite;
}

@keyframes shake {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: 5deg;
  }
  50% {
    rotate: 0deg;
  }
  75% {
    rotate: -5deg;
  }
  100% {
    rotate: 0deg;
  }
}

@media screen and (max-width: 1200px) {
  .contactCard {
    padding: 2.8rem 1.6rem;
  }
}

@media screen and (max-width: 950px) {
  .contactCard {
    width: 20%;
  }
}

@media screen and (max-width: 900px) {
  .contactCard {
    padding: 2.5rem 1.6rem;
  }

  .name {
    font-size: 1rem;
  }

  .dept {
    font-size: 0.8rem;
  }

  .icons > * {
    transform: scale(0.7);
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 700px) {
  .name {
    font-size: 0.9rem;
  }

  .dept {
    font-size: 0.7rem;
  }

  .icons > * {
    transform: scale(0.6);
  }

  .icons {
    gap: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  .contactCard {
    width: 30%;
  }
}

@media screen and (max-width: 500px) {
  .contactCard {
    padding: 2rem 1.4rem;
  }

  .name {
    font-size: 0.8rem;
  }

  .dept {
    font-size: 0.6rem;
  }

  .icons > * {
    transform: scale(0.5);
  }

  .icons {
    gap: 0.4rem;
  }

  .wrapper {
    gap: 0.4rem;
  }
}

@media screen and (max-width: 500px) {
  .contactCard {
    width: 32%;
    padding: 1.7rem 1.2rem;
  }
}

@media screen and (max-width: 400px) {
  .name {
    font-size: 0.7rem;
  }
}
