.heading {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.4rem;
  color: #51aeff;
  font-weight: 500;
}

.list {
  display: flex;
  flex-direction: column;
  width: 24%;
  background: url("../../assets/Sidebar.png") center no-repeat;
  background-size: 100% 100%;
  padding: 2rem;
  padding-inline: 0.5rem;
  margin-left: 2rem;
}

.carousel {
  overflow-y: scroll;
}

.carousel::-webkit-scrollbar,
.carousel::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 13px;
  border: 10px solid transparent;
}

.carousel::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
  background-color: #83c4fd;
}

.container {
  width: 90%;
  margin-inline: auto;
  display: flex;
  height: 98vh;
  overflow: hidden;
}

.info {
  width: 70%;
  background: url(/backgrounds/events.png) center no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem;
}

.eventDetails::-webkit-scrollbar,
.eventDetails::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 13px;
  border: 10px solid transparent;
}

.eventDetails::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
  background-color: #83c4fd;
}

.text::-webkit-scrollbar,
.text::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 13px;
  border: 10px solid transparent;
}

.text::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
  background-color: #83c4fd;
}

.content {
  display: flex;
  margin-top: 3rem;
  gap: 2rem;
}

.image {
  width: 35%;
  margin-left: 3rem;
}

.eventDetails {
  width: 60%;
  margin-inline: 3rem;
  overflow: auto;
}

.eventName,
.details,
.text {
  text-align: left;
  color: #a1d0ff;
}

.eventName {
  font-size: 1.8rem;
  margin-block-end: 2rem;
  font-weight: 400;
}

.details {
  font-family: "Monospace";
  font-weight: 800;
  font-size: 1.3rem;
}

.text {
  font-family: "Monospace";
  margin-block-end: 2rem;
  font-size: 1.1rem;
  max-height: 8rem;
  overflow-y: auto;
}

@media screen and (max-width: 650px) {
  .container {
    height: 100vh;
    margin-bottom: 2rem;
    margin-top: 7rem;
  }

  .image {
    display: none;
  }

  .info {
    display: none;
    width: 100%;
    padding: 0;
    background: url("../../assets/eventMobile.png") center no-repeat;
    background-size: 100% 100%;
  }

  .eventDetails {
    width: 85%;
    margin-inline: 3rem;
    padding-bottom: 4rem;
  }

  .text {
    margin-top: 0.5rem;
  }

  .eventName {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 2rem;
  }

  .details {
    font-size: 1rem;
  }

  .text {
    font-size: 0.9rem;
  }

  .list {
    width: 90%;
    margin-left: 0;
    margin-inline: auto;
  }
}

@media screen and (max-width: 1300px) {
  .info {
    padding-right: 0;
  }

  .text {
    font-size: 1rem;
  }

  .eventDetails {
    margin-inline: 2rem;
  }

  .image {
    margin-left: 1rem;
  }
}

@media (max-width: 1000px) {
  .text {
    margin-block-end: 1rem;
  }

  .image {
    display: none;
  }

  .eventDetails {
    width: 90%;
  }
}
