.card {
  background: url("../../assets/EventCard.png") center no-repeat;
  background-size: 100% 100%;
  padding: 1rem;
  margin: 1rem;
  overflow: hidden;
  position: relative;
  padding: 0.4em;
}

.info {
  font-weight: 100;
  color: #bfdfff;
  background-color: #0d1319;
  padding: 0.4rem;
  overflow: hidden;
  margin: 0.2rem;
}
