.heading {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.4rem;
  color: #51aeff;
  font-weight: 500;
}

.list {
  display: flex;
  flex-direction: column;
  width: 24%;
  background: url("../../assets/Sidebar.png") center no-repeat;
  background-size: 100% 100%;
  padding: 2rem;
  padding-inline: 0.5rem;
  margin-left: 2rem;
  transition: transform 500ms ease;
}

:global(.close) .list,
:global(.closed) .list {
  transform: translateX(200%);
}

:global(.open) .list {
  transform: translateX(0);
}

.carousel {
  overflow-y: scroll;
  padding: 0 1rem;
}

.carousel::-webkit-scrollbar,
.carousel::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 13px;
  border: 10px solid transparent;
}

.carousel::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
  background-color: #83c4fd;
}
.carousel {
  scrollbar-color: #83c4fd;
  scrollbar-width: thin;
}

.container {
  width: 90%;
  margin-inline: auto;
  display: flex;
  height: 92vh;
  padding-top: 2rem;
  overflow: hidden;
}

.info {
  position: relative;
  width: 70%;
  background: url(/backgrounds/events.png) center no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem;
  transition: transform 500ms ease;
}

:global(.close) .info,
:global(.closed) .info {
  transform: translateX(-200%);
}

:global(.open) .info {
  transform: translateX(0);
}

.eventDetails::-webkit-scrollbar,
.eventDetails::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 13px;
  border: 10px solid transparent;
}

.eventDetails::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
  background-color: #83c4fd;
}

.eventDetails {
  scrollbar-color: #83c4fd;
  scrollbar-width: thin;
}

.text::-webkit-scrollbar,
.text::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 13px;
  border: 10px solid transparent;
}

.text::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
  background-color: #83c4fd;
}

.text {
  scrollbar-color: #83c4fd;
  scrollbar-width: thin;
}

.content {
  display: flex;
  margin-top: 3rem;
  gap: 2rem;
}

.image {
  width: 35%;
  margin-left: 3rem;
}

.eventImage {
  width: 90%;
}

.eventDetails {
  width: 60%;
  margin-inline: 3rem;
  overflow: auto;
}

.eventName,
.details,
.text {
  text-align: left;
  color: #a1d0ff;
}

.eventName {
  font-size: 1.8rem;
  margin-block-end: 2rem;
  font-weight: 400;
}

.details {
  font-family: "Monospace";
  font-weight: 800;
  font-size: 1.3rem;
}

.text {
  font-family: "Monospace";
  font-size: 1.1rem;
  margin: 1rem 0;
  max-height: 8rem;
  overflow-y: auto;
}

.dropdown {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  font-size: 0.85rem !important;
}

.dropdownItem {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.dropdownItem > span {
  cursor: pointer;
  line-height: 60px;
  padding: 0 1rem;
  font-family: "sui";
  color: #bfdfff;
  display: block;
  text-align: left;
}

.dropdownItem > img {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: -1;
}

.arrowRight svg {
  margin-left: 5px;
  transform: rotate(-90deg) scale(0.6);
}

.arrowBottom svg {
  margin-left: 5px;
  transform: scale(0.6);
}

.squares {
  position: absolute;
  bottom: 9%;
  left: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  gap: 5px;
}

@media screen and (max-width: 650px) {
  .container {
    height: 100vh;
    margin-bottom: 2rem;
    margin-top: 7rem;
  }

  .image {
    display: none;
  }

  .carousel {
    padding: 0 0.2rem;
  }

  .info {
    display: none;
    width: 100%;
    padding: 0;
    background: url("../../assets/eventMobile.png") center no-repeat;
    background-size: 100% 100%;
  }

  .eventDetails {
    width: 85%;
    margin-inline: 3rem;
    padding-bottom: 4rem;
  }

  .text {
    margin-top: 0.5rem;
  }

  .eventName {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 2rem;
  }

  .details {
    font-size: 1rem;
  }

  .text {
    font-size: 0.9rem;
  }

  .list {
    width: 90%;
    margin-left: 0;
    margin-inline: auto;
  }
}

@media screen and (max-width: 1300px) {
  .info {
    padding-right: 0;
  }

  .text {
    font-size: 1rem;
  }

  .eventDetails {
    margin-inline: 2rem;
  }

  .image {
    margin-left: 1rem;
  }
}

@media (max-width: 1000px) {
  .text {
    margin-block-end: 1rem;
  }

  .image {
    display: none;
  }

  .eventDetails {
    width: 90%;
  }

  .squares img {
    width: 6px;
    height: 6px;
  }
}

@media (max-width: 800px) {
  .squares img {
    width: 6px;
    height: 6px;
  }
}

@media (max-width: 500px) {
  .container {
    margin-top: 0;
  }

  .carousel {
    overflow-x: hidden;
  }
  .squares{
    left: 20%
  }
}
