.card {
  background: url("../../assets/EventCard.png") center no-repeat;
  background-size: 100% 100%;
  padding: 1rem;
  margin: 1rem;
  overflow: hidden;
  position: relative;
  padding: 0.4em;
  cursor: pointer;
}

.info {
  font-weight: 100;
  color: #bfdfff;
  background: url("../../assets/eventName.png") center no-repeat;
  padding: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.eventImage {
  width: 100%;
}
