@font-face {
  font-family: "Command";
  src: url(../../fonts/cmdFont.woff);
}

.ham {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000000000000;
}

.container {
  width: 70%;
  position: relative;
  z-index: 10000000000000;
}

.navBar {
  background-color: #2b2b2b;
  display: flex;
  padding-inline: 1.2rem;
  padding-block: 0.6rem;
  align-items: center;
  justify-content: space-between;
}

.crossLeft,
.crossRight {
  height: 2px;
  width: 30px;
  border-radius: 12px;
  background-color: white;
  transform: rotate(45deg);
}

.crossRight {
  transform: translateY(-2px) rotate(-45deg);
}

.content {
  font-family: "Command";
  font-size: 1.4rem;
  background-color: #0c0c0c;
  padding-inline: 1.2rem;
  padding-block: 1.2rem;
}

.content div {
  text-align: left;
  line-height: 1.6rem;
  font-weight: 400;
}

.list {
  display: flex;
  flex-direction: column;
}

.list > div {
  cursor: pointer;
  width: fit-content;
  line-height: 2rem;
}

.list > div:hover {
  color: black;
  background-color: #d9d9d9;
}

.flexContainer {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  align-items: flex-end;
}

.heading {
  font-size: 1.8rem;
  cursor: default !important;
  margin-bottom: 0.6rem;
}

.socials > div {
  cursor: pointer;
  width: fit-content;
}

.list a:hover,
.socials a:hover {
  color: black;
  background-color: #d9d9d9;
}

.list div:hover > a {
  color: black;
  background-color: #d9d9d9;
}

.list a,
.socials a {
  text-decoration: none;
  color: white;
}

.cross {
  cursor: pointer;
  padding-block: 1rem;
}

.hamIcon {
  scale: 0.85;
  position: absolute;
  top: -90px;
  right: 0;
  padding-block: 1rem;
  z-index: 101;
  cursor: pointer;
}

.hamIcon1,
.hamIcon2,
.hamIcon3 {
  background-color: #1a93ff;
  border-radius: 12px;
  height: 4px;
}

.hamIcon1 {
  width: 14px;
}

.hamIcon2 {
  width: 28px;
  margin-block: 0.4rem;
}

.hamIcon3 {
  width: 14px;
  margin-left: 14px;
}

@media (max-width: 800px) {
  .socialContainer {
    display: none;
  }

  .container {
    width: 90%;
  }

  .content {
    font-size: 1.2rem;
  }
}
