.ham{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.container{
    width: 70%;
}

.navBar{
    background-color: #2b2b2b;
    display: flex;
    padding-block: 0.8rem;
    padding-inline: 0.4rem;
    align-items: center;
    justify-content: space-between;
}

.crossLeft{
    height: 2px;
    width: 36px;
    border-radius: 12px;
    background-color: white;
    transform: rotate(45deg);
}
.crossRight{
    height: 2px;
    width: 36px;
    border-radius: 12px;
    background-color: white;
    transform: translateY(-2px) rotate(-45deg);
}
.content{
    font-family: 'Command';
    background-color: #0c0c0c;
    padding-inline: 1.2rem;
    padding-block: 1.2rem;
}
.content div{
    text-align: left;
    line-height: 1.6rem;
    font-weight: bold;
}
.list{
    display: flex;
    flex-direction: column;
}

.list > div{
    cursor: pointer;
    width: fit-content;
    line-height: 2rem;
}

.list > div:hover{
    color: black;
    background-color: #D9D9D9;
}

.flexContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.heading{
    font-size: 1.2rem;
    cursor: default !important;
}

.socials > div{
    cursor: pointer;
    width: fit-content;
}

.socials > div:hover{
    color: black;
    background-color: #D9D9D9;
}
