body {
  overflow-x: hidden;
}
.wrapper {
  position: relative;
}

.apogeeLogo {
  width: 20rem;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 4rem);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.countDown {
  position: absolute;
  left: 0;
  padding: 1rem;
  top: 7rem;
  scale: 0.8;
}

.heroFoot {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;

  left: 0;
  margin: 0 0 3rem 3rem;
  bottom: 0;
  transform: scale(0.8) translate(-1rem, 2rem);
}

.heroFoot svg {
  width: 1.8rem;
  cursor: pointer;
  margin-top: -7rem;
  margin-inline: 0.6rem;
}

.heroFoot svg:hover path {
  fill: #54aeff;
  filter: drop-shadow(0px 0px 50px #54aeff);
}

@media (max-width: 430px) {
  .apogeeLogo {
    width: 15rem;
  }
  .heroFoot {
    bottom: 3rem;
    left: -2rem;
  }

  .countDown {
    right: 0;
    bottom: 3rem;
    top: auto !important;
  }

  .heroFoot {
    padding-left: 0;
  }

  .navbar {
    flex-direction: column;
  }
}
