body {
  overflow-x: hidden;
}

.wrapper {
  position: relative;
}

.apogeeLogo {
  width: 20rem;
}

.landingWrapper {
  position: absolute;
  left: 0;
}

.landingElem {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.navbar {
  position: relative;
  width: calc(100vw - 4rem);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.countDown {
  position: absolute;
  padding: 1rem;
  left: 0;
  top: 7rem;
  scale: 0.8;
}

.heroFoot {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  gap: 1rem;
  left: 0;
  margin: 0 0 3rem 3rem;
  bottom: 0;
  transform: scale(0.8) translate(-1rem, 2rem);
}

.heroFoot svg {
  width: 30px;
  cursor: pointer;
}

.heroFoot svg:hover path {
  fill: #54aeff;
}

.heroFoot svg:hover {
  filter: drop-shadow(0px 0px 2px #54aeff);
}

@media (max-width: 1200px) {
  .apogeeLogo {
    width: 16rem;
  }

  .countDown {
    top: 5rem;
  }
}

@media (max-width: 900px) {
  .apogeeLogo {
    width: 14rem;
  }

  .countDown {
    top: 5rem;
    padding: 0.8rem;
  }
}

@media (max-width: 800px) {
  .navbar {
    gap: 0.5rem;
  }

  .apogeeLogo {
    width: 20rem;
  }

  .heroFoot {
    bottom: 3rem;
    left: -2rem;
  }

  .countDown {
    width: 35vw;
    padding: 0;
    right: 1rem;
    bottom: 1rem;
    top: auto !important;
    left: auto !important;
  }

  .heroFoot {
    padding-left: 0;
  }

  .navbar {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .countDown {
    right: 2rem;
  }
}

@media (max-width: 430px) {
  .apogeeLogo {
    width: 15rem;
  }

  .heroFoot {
    bottom: 3rem;
    left: -2rem;
  }

  .heroFoot {
    padding-left: 0;
  }

  .navbar {
    flex-direction: column;
  }
}
