@font-face {
  font-family: "Monospace";
  src: url(../../fonts/Monospace.ttf);
}

.names {
  display: flex;
  margin-inline: auto;
  justify-content: space-between;
  font-family: "Monospace";
  color: #428fd2;
  padding: 0 40px;
}

.container {
  position: absolute;
  bottom: 5%;
  left: 23%;
  width: 50%;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.6rem;
  padding: 0 140px;
}

.small {
  height: 10px;
  width: 0.5px;
  background-color: white;
}

.mid {
  height: 15px;
  width: 0.5px;
  border-radius: 12px;
  background-color: white;
}

.big {
  height: 20px;
  width: 0.5px;
  border-radius: 12px;
  background-color: white;
}

.names > div {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .names {
    display: none;
  }
}
