.prompt {
  position: fixed;
  bottom: 10px;
  right: 0;
  left: 0;
}

.prompt svg {
  animation: scroll 1.2s infinite ease-in-out;
}

@keyframes scroll {
  0% {
    transform: translateY(calc(0%));
  }

  12% {
    transform: translateY(calc(10.89% / 3));
  }

  24% {
    transform: translateY(calc(43.56% / 3));
  }

  36% {
    transform: translateY(calc(98.01% / 3));
  }

  54% {
    transform: translateY(calc(75.02% / 3));
  }

  74% {
    transform: translateY(calc(98.37% / 3));
  }

  82% {
    transform: translateY(calc(93.75% / 3));
  }

  92% {
    transform: translateY(calc(99.34% / 3));
  }

  96% {
    transform: translateY(calc(98.46% / 3));
  }

  100% {
    transform: translateY(calc(100%) / 2);
  }
}
