.speakers {
  position: relative;
  width: 100vw;
}

.heading {
  margin: 4rem 0 1rem 0;
  transition: transform 500ms ease;
}

.carouselWrapper {
  width: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close .heading,
.closed .heading {
  transform: translateX(500%);
}

.open .open {
  transform: translate(0);
}

.slick-slider {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.arrow {
  width: 20px;
  cursor: pointer;
}

.next {
  transform: rotate(180deg);
}

.slick-list {
  width: 65vw;
}

@media (min-width: 800px) {
  .speakers {
    min-height: 100vh;
  }
}

@media (max-width: 800px) {
  .heading {
    display: block !important;
  }
}

@media (max-width: 950px) {
  .carouselWrapper {
    width: 85vw;
  }

  .slick-list {
    width: 70vw;
  }
}

@media (max-width: 800px) {
  .flexWrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
    gap: 2.5rem;
  }
}

@media (max-width: 550px) {
  .flexWrapper {
    padding: 2rem 3rem;
  }
}
