.switchContainer {
    background: rgba(0, 60, 72, 0.6);
    border-radius: 25px;
    display: flex;
    padding: 0.6rem 0.6rem;
}

.switch {
    padding-inline: 1.2rem;
    cursor: pointer;
    padding-block: 1.2rem;
    color: #1A93FF;

}

.switch.active {
    background: #1E4952;
    border-radius: 17.5px;
}

@media (max-width:450px) {
    .switchContainer{
        padding: 0.4rem;
    }
    .switch{
        padding: 0.8rem;
    }
}