.switchContainer {
  position: absolute;
  top: 100vh;
  right: 2rem;
  transform: translate(0, calc(-100% - 25px));
  background: rgba(0, 60, 72, 0.6);
  border-radius: 10rem;
  display: flex;
  padding: 6px;
  z-index: 10000000000;
}

.switch {
  cursor: pointer;
  color: #1a93ff;
  padding: 10px 18px;
}

.switch.active {
  border-radius: 10rem;
  background: #1e4952;
}

@media (max-width: 1000px) {
  .switchContainer {
    font-size: 0.9rem;
  }

  .switch {
    padding: 8px 15px;
  }
}

@media (max-width: 800px) {
  .switchContainer {
    padding: 0.4rem;
    font-size: 0.7rem;
    margin-top: 1rem;
    position: static;
    transform: none;
    display: none;
  }

  .switch {
    padding: 0.5rem;
  }
}
