.backBtn {
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
}

.backBtn > svg {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
}

.cont {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    color: #B2DBFF;
    font-size: 1.1rem;
}

/* .arr {
    transform: translateX(0);
} */

.backBtnInside{
    opacity: 0.6;
    transition: opacity .3s ease-in-out;
}

.backBtn:hover .backBtnInside {
    opacity: 1;
}

.backBtn:hover .arr {
    transform: translateX(-2px);
    transition: transform .3s ease-in-out;
}

@media screen and (max-width: 1300px) {
    .cont {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    .cont {
        font-size: .8rem;
    }

    .arr {
        height: .8rem;
    }
}

@media screen and (max-width: 650px) {
    .cont {
        font-size: .6rem;
    }

    .arr {
        height: .6rem;
    }
}

@media screen and (max-width: 450px) {
    .cont {
        font-size: .5rem;
    }

    .arr {
        height: .5rem;
    }
}