.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.form-inputs-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form-inputs {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.price {
  padding: 0 4rem;
  color: #4DACFF;
}

@media screen and (min-width: 1650px) {
  .btn-container {
    margin: 4% 0 2% 0;
  }
}

@media screen and (max-width: 1150px) {
  .form-inputs {
    width: 45%;
  }

  .form-inputs-container {
    justify-content: space-between;
  }

  .price {
    padding: 0;
  }
}

@media screen and (max-width: 1000px) {
  .form-inputs {
    width: 43%;
  }
}

@media screen and (max-width: 850px) {
  .form {
    margin-top: 5%;
  }

  .form-inputs-container {
    flex-direction: column;
    align-items: center;
  }

  .form-inputs {
    width: 60%;
  }

  .btn-container {
    margin: 6% 0 8% 0;
  }

  .price {
    padding: 0 20%;
    font-size: .9rem;
  }
}

@media screen and (max-width: 1300px) {
  .btn-container {
    scale: 0.9;
  }
}

@media screen and (max-width: 1000px) {
  .btn-container {
    scale: 0.8;
  }
}

@media screen and (max-width: 750px) {
  .form-inputs {
    width: 70%;
  }

  .btn-container {
    scale: 0.7;
  }

  .price {
    padding: 0 15%;
  }
}

@media screen and (max-width: 650px) {
  .form-inputs {
    width: 80%;
  }

  .price {
    padding: 0 10%;
    font-size: .8rem;
  }
}

@media screen and (max-width: 450px) {
  .form-inputs {
    width: 90%;
  }

  .btn-container {
    margin: 8% 0 15% 0;
    scale: 0.6;
  }

  .price {
    padding: 0 5%;
    font-size: .7rem;
  }
}

@media screen and (max-width: 400px) {
  .form {
    scale: 0.9;
  }
}
