.reg-form {
  width: 100%;
  height: 70vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.form-inputs-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form-inputs {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.btn-container {
  display: flex;
  justify-content: center;
}
