/* general inputs */
.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.input > * {
  width: 100%;
  font-size: var(--inputFont);
  color: #bfdfff;
  font-family: "mono";
  font-style: normal;
  font-weight: 100;
  opacity: 0.9;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

label {
  margin-left: 0.6%;
  margin-bottom: 1%;
  text-transform: uppercase;
}

input {
  box-sizing: border-box;
  background: rgba(30, 53, 75, 0.9);
  border: 1px solid #51718d;
  height: var(--inputHeight);
  padding-left: 0.6rem;
}

.text-input:focus-visible {
  outline: none;
  box-shadow: 0 0 10px #51718d;
}

/* react-select */
.react-select__value-container,
.react-select__indicators {
  height: 100% !important;
}

div:has(> .react-select__control) {
  height: var(--inputHeight) !important;
}

div:has(> .react-select__control):focus-within {
  outline: none !important;
  box-shadow: 0 0 10px #51718d !important;
}

.react-select__control {
  cursor: text;
  background: rgba(30, 53, 75, 0.9) !important;
  border: 1px solid #51718d !important;
  border-radius: 0 !important;
  height: var(--inputHeight) !important;
  box-sizing: border-box !important;
  font-size: var(--inputFont);
  color: #bfdfff;
  font-style: normal;
  font-weight: 400;
  opacity: 0.9;
  min-height: 0 !important;
}

.react-select__input-container {
  margin: 0 !important;
  padding: 0 !important;
  cursor: text !important;
  color: #bfdfff !important;
}

.react-select__single-value {
  color: #bfdfff !important;
}

.react-select__menu {
  background-color: #1b2025 !important;
  font-size: var(--inputFont);
}

.react-select__menu > div > div:hover {
  background: #51718d !important;
}

.text-input div:focus-visible {
  outline: none !important;
}

/* radio button */
.radio-button {
  padding: 0 1rem !important;
  font-size: var(--inputFont) !important;
  color: #bfdfff !important;
  font-family: "mono" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  opacity: 0.9 !important;
  box-sizing: border-box !important;
  background: rgba(30, 53, 75, 0.9) !important;
  border: 1px solid #51718d !important;
  height: var(--inputHeight);
  display: inline-flex !important;
  flex-direction: row;
  align-items: center;
  margin-left: 0;
  text-transform: none;
}

.active,
.radio-button:hover {
  background: #51718d !important;
}

.dot {
  width: 12px;
  height: 12px;
}

.dot::before {
  top: 0.5px;
  left: 0.5px;
  width: 11px;
  height: 11px;
  background: rgba(30, 53, 75, 0.9) !important;
}

@media screen and (max-width: 1150px) {
  .radio-button {
    padding: 0 0.8rem !important;
  }
}

@media screen and (max-width: 1000px) {
  .radio-button {
    padding: 0 0.5rem !important;
  }

  .react-select__control {
    height: var(--inputHeight) !important;
  }
}

@media screen and (max-width: 900px) {
  .input {
    margin: 0.8rem 0;
  }

  .radio-button {
    padding: 0 0.3rem !important;
  }

  .dot {
    width: 9px;
    height: 9px;
    margin-right: 0.3rem;
  }

  .dot::before {
    top: 0.5px;
    left: 0.5px;
    width: 8px;
    height: 8px;
    background: rgba(30, 53, 75, 0.9) !important;
  }
}

@media screen and (max-width: 850px) {
  .radio-button {
    padding: 0 1rem !important;
    margin-right: 1rem !important;
  }
}

@media screen and (max-width: 850px) {
  .radio-button {
    padding: 0 0.7rem !important;
    margin-right: 0.7rem !important;
  }
}

@media screen and (max-width: 550px) {
  .input {
    margin: 0.6rem 0;
  }

  .dot {
    width: 7px;
    height: 7px;
  }

  .dot::before {
    width: 6px;
    height: 6px;
  }

  .radio-button {
    padding: 0 0.5rem !important;
  }
}

@media screen and (max-width: 400px) {
  .radio-button {
    margin-right: 0.3rem !important;
  }
}

@media screen and (max-width: 300px) {
  .radio-button {
    padding: 0 0.3rem !important;
  }
}
