.rings-cont {
  z-index: 1;
  opacity: 0.2;
}

.rings {
  animation: ring-rotate var(--speed) linear var(--delay) infinite var(--dir);
}

.ring-glow {
  filter: drop-shadow(0 0 5px #4dacff) drop-shadow(0 0 50px #83c4fd)
    drop-shadow(0 0 500px #83c4fd);
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
}

.abs-ring {
  position: absolute;
  width: var(--size);
  height: var(--size);
  scale: var(--scale);
  transform-origin: var(--tro);
}

.abs-right {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  width: 150px;
  height: 150px;
}

.abs-left {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  width: 150px;
  height: 150px;
}

.ring-line {
  position: absolute;
  filter: drop-shadow(0 0 5px #4dacff) drop-shadow(0 0 50px #83c4fd);
}

@keyframes ring-rotate {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 359deg;
  }
}

@media screen and (max-width: 1100px) {
  .abs-center {
    transform: translate(-50%, -50%) scale(0.6);
  }
}

@media screen and (max-width: 600px) {
  .abs-center {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

@media screen and (max-width: 500px) {
  .abs-center {
    transform: translate(-50%, -50%) scale(0.4);
  }
}

@media screen and (max-width: 400px) {
  .abs-center {
    transform: translate(-50%, -50%) scale(0.35);
  }
}
