.rings-cont {
  z-index: 1;
  opacity: 0.2;
}

.rings {
  animation: ring-rotate var(--speed) linear var(--delay) infinite var(--dir);
}

.ring-glow {
  filter: drop-shadow(0 0 5px #4dacff) drop-shadow(0 0 50px #83c4fd)
    drop-shadow(0 0 500px #83c4fd);
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
}

.abs-ring {
  position: absolute;
  width: var(--size);
  height: var(--size);
  scale: var(--scale);
  transform-origin: var(--tro);
}

.abs-right {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  width: 150px;
  height: 150px;
}

.abs-left {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  width: 150px;
  height: 150px;
}

.ring-line {
  position: absolute;
  filter: drop-shadow(0 0 5px #4dacff) drop-shadow(0 0 50px #83c4fd);
  top: 50%;
  transform: translateY(-50%);
}

.abs-left .ring-line {
  left: 105%;
}

.abs-right .ring-line {
  right: 105%;
}

@keyframes ring-rotate {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 359deg;
  }
}

@media screen and (max-width: 1100px) {
  .abs-center {
    transform: translate(-50%, -50%) scale(0.6);
  }

  .side-rings {
    transform: translateY(-50%) scale(.9);
  }

  .ring-line {
    transform: translateY(-50%) scale(.9);
  }
}

@media screen and (max-width: 850px) {
  .abs-center {
    transform: translate(-50%, -50%) scale(0.7);
  }

  .abs-left {
    top: 10%;
    left: 50%;
    transform: translateX(-50%) scale(1);
  }

  .abs-right {
    top: calc(90% - var(--size));
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%) scale(1) rotate(180deg);
  }

  .ring-line {
    transform: translateX(-50%) rotate(90deg) scale(1);
  }

  .abs-left .ring-line {
    left: 50%;
    top: 140%;
  }

  .abs-right .ring-line {
    left: 50%;
    top: 140%;
  }
}

@media screen and (max-width: 600px) {
  .abs-center {
    transform: translate(-50%, -50%) scale(0.6);
  }
}

@media screen and (max-width: 500px) {
  .abs-center {
    transform: translate(-50%, -50%) scale(0.4);
  }

  .abs-left {
    transform: translateX(-50%) scale(.7);
  }

  .abs-right {
    transform: translateX(-50%) scale(.7) rotate(180deg);
  }
}

@media screen and (max-width: 400px) {
  .abs-center {
    transform: translate(-50%, -50%) scale(0.35);
  }
  .abs-left {
    transform: translateX(-50%) scale(.7);
  }

  .abs-right {
    transform: translateX(-50%) scale(.7) rotate(180deg);
  }
}
