@font-face {
  font-family: "sui";
  src: url("fonts/sui_generis_rg-webfont.woff2"),
    url("fonts/sui_generis_rg-webfont.woff");
}

@font-face {
  font-family: "monospac";
  src: url(../src/fonts/Monospace.ttf) format("truetype");
}

:root {
  --inputFont: 1.1rem;
  --inputHeight: 2.4rem;
}

body {
  margin: 0;
  background-color: #000000;
  color: white;
  font-family: "monospac";
}

* {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

@media screen and (max-width: 1000px) {
:root {
  --inputHeight: 2.2rem !important;
}
}

@media screen and (max-width: 900px) {
:root {
  --inputFont: 1rem;
}
}

@media screen and (max-width: 850px){
  :root {
      --inputHeight: 2rem !important;
      --inputFont: .9rem;
  }
}