@font-face {
  font-family: "sui";
  src: url("fonts/sui_generis_rg-webfont.woff2"),
    url("fonts/sui_generis_rg-webfont.woff");
}

@font-face {
  font-family: "monospac";
  src: url(../src/fonts/Monospace.ttf) format("truetype");
}

body {
  margin: 0;
  height: 100vh;
  background-color: #000000;
  color: white;
  font-family: "monospac";
}

* {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
