@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

#canvas-wrapper {
  height: 100vh !important;
  width: 100vw !important;
  top: 0 !important;
  left: 0 !important;
  display: block !important;
}

.footer {
  text-decoration: none;
  text-align: center;
  width: 100vw;
  font-size: 1.2rem;
  padding: 0.6rem;
  font-family: "Monospace";
  color: #cce7ff;
  position: fixed;
  bottom: 0;
  left: 0;
}

.heading {
  text-align: center;
  margin: 2rem 0 1rem 0;
  font-size: 2.4rem;
  color: #51aeff;
  font-weight: 500;
}

.ptr {
  cursor: pointer;
}

.noclick {
  pointer-events: none;
  cursor: default;
}

.App::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 450px) {
  #canvas-wrapper {
    top: -70px !important;
  }
  .heading {
    font-size: 1.4rem;
  }
}
