#canvas-wrapper {
  height: 100vh !important;
  width: 100vw !important;
  /* position: absolute !important; */
  top: 0 !important;
  left: 0 !important;
  display: block !important;
}

.footer {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1rem;
  font-family: monospace;
  color: #CCE7FF;
}