@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

#canvas-wrapper {
  height: 100vh !important;
  width: 100vw !important;
  top: 0 !important;
  left: 0 !important;
  display: block !important;
}

.footer {
  text-decoration: none;
  text-align: center;
  width: 100vw;
  font-size: 1.2rem;
  padding: 0.6rem;
  font-family: "Monospace";
  color: #cce7ff;
  position: fixed;
  bottom: 0;
  left: 0;
}

.heading {
  text-align: center;
  margin: 2rem 0 1rem 0;
  font-size: 2.4rem;
  color: #51aeff;
  font-weight: 500;
}

.ptr {
  cursor: pointer;
}

.noclick {
  pointer-events: none;
  cursor: default;
}

.App::-webkit-scrollbar {
  display: none;
}

.closed {
  visibility: hidden;
  pointer-events: none;
  height: 0 !important;
  min-height: 0 !important;
  max-height: 0 !important;
}

.closed,
.closed * {
  margin: 0 !important;
  padding: 0 !important;
}

.close {
  pointer-events: none;
}

@media screen and (max-width: 450px) {
  #canvas-wrapper {
    top: -70px !important;
    pointer-events: none !important;
  }
  .heading {
    font-size: 1.4rem;
  }
}

#canvas-wrapper > div > div::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
  background-color: #83c4fd;
}

#canvas-wrapper > div > div::-webkit-scrollbar,
#canvas-wrapper > div > div::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 13px;
  border: 10px solid transparent;
}

#canvas-wrapper > div > div {
  scrollbar-color: #83c4fd;
  scrollbar-width: thin;
  /* padding-bottom: 2.4rem; */
}


.blue{
  background-color: #428fd2 !important;
}