@font-face {
  font-family: "sui";
  src: url(../src/fonts/SUIGENER.TTF) format("truetype");
}

@font-face {
  font-family: "Command";
  src: url(../src/fonts/cmdFont.ttf) format("truetype");
}

@font-face {
  font-family: "Monospace";
  src: url(../../fonts/Monospace.ttf) format("truetype");
}

body {
  margin: 0;
  height: 100vh;
  background-color: #000000;
  color: white;
  font-family: "sui";
}

* {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  z-index: 10000000;
  /* box-sizing: border-box; */
}
